 body {
     background: grey
 }

 #yin-yang {
     width: 96px;
     height: 48px;
     background: white;
     border-bottom: 50px solid black;
     border-radius: 100%;
     box-sizing: content-box;
     position: relative;
 }

 #yin-yang:before {
     content: "";
     position: absolute;
     top: 50%;
     left: 0;
     background: white;
     border: 16px solid black;
     border-radius: 100%;
     width: 16px;
     height: 16px;
     box-sizing: content-box;
 }

 #yin-yang:after {
     content: "";
     position: absolute;
     top: 50%;
     left: 50%;
     background: black;
     border: 16px solid white;
     border-radius: 100%;
     width: 16px;
     height: 16px;
     box-sizing: content-box;
 }